<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

   <p>
    Splurty was built by Madison. A web developer who is learning to launch her own web apps.
  </p>
  <br />
  <p>
    She is still beginning in her jouney of web development but hoping to do great things in the future.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'madison.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Madison Cooper</h2>
      <br />
      <p>
        Madison Cooper is a web developer as well as a fund administrator for Private Equity firms. Previously she was a business student at Pepperdine University(<a target="_blank" href="https://www.pepperdine.edu/lp/pepperdine-branded.htm?gclid=Cj0KCQjwtMvlBRDmARIsAEoQ8zREFfQ161aHITDFUz55GavWl4Jg1g0qwiLYb48m3_gECUilA2M77oQaAvQGEALw_wcB&gclsrc=aw.ds"></a>) and a collegiate division 1 swimmer for the Pepperdine University swim team. 
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />